# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Version control
.git
.gitignore

# Environment files
.env
.env.*

# Logs
*.log

# Test files
tests/
coverage/

# Documentation
docs/
*.md

# Docker files
docker-compose*
Dockerfile
.dockerignore

# IDE files
.vscode/
.idea/
